{{!-- Menu page --}}
{{#if @blog.navigation}}
<nav id="menu-mobile" class="menu-mobile hide-after-lg">
	<ul class="menu-mobile-wrap u-unstyled">
		{{navigation}}
	</ul>
</nav>
{{/if}}

<footer class="footer">
	<div class="footer-wrap">
		<div class="row">
			<div class="col s12 m6 copy"><span>&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> All rights reserved.</span></div>
			<div class="col s12 m6 by">
				<a href="https://m.do.co/c/65cf8cb28f91" target="_blank" title="Desarrollador Web FullStack."><span>Creado con: Ghost + </span> <i class="i-favorite heart"></i><span>+ DigitalOcean</span></a>
			</div>
		</div>
	</div>
</footer>
